# https://www.curseforge.com/minecraft/modpacks/star-wars-conquest
# https://tinyurl.com/SW11920 => https://uccff8f55d0446cb5497d9adab96.dl.dropboxusercontent.com/cd/0/get/Awqf2nPtXuHLuqxp3USE9xyVRURj8BUHet8u9SBkIsvZ-o1YZkzfQjDr4vFTM_vIL8VJyDumglzL3opHUGTC00vMVfot4FMADf3BBLk-0sdapl2OqgmN1LePCy1bThcjf30/file?dl=1#
MODPACK_URL=https://tinyurl.com/SW11920
MINECRAFT_VER=1.7.10
FORGE_URL=https://files.minecraftforge.net/maven/net/minecraftforge/forge/1.7.10-10.13.4.1614-1.7.10/forge-1.7.10-10.13.4.1614-1.7.10-installer.jar
DEFAULT_JVM_XMX=1G
DEFAULT_JVM_XMS=1G
